/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 6 déc. 2024, 09 h 57 min 33 s
    Author     : 851f1032
*/
/* Barre de navigation */
nav {
    margin: auto;
    position: relative;
    top: 20px;
    width: 590px;
    height: 50px;
    background-color: #fde6f5;
    border-radius: 8px;
    font-size: 0;
}
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: black;
    cursor: pointer;
}
nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}
a:nth-child(1) {
    width: 100px;
}
a:nth-child(2) {
    width: 140px;
}
a:nth-child(3) {
    width: 80px;
}
a:nth-child(4) {
    width: 80px;
}
a:nth-child(5) {
    width: 60px;
}
a:nth-child(6) {
    width: 130px;
}
nav .start-accueil, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #ffbddf;
}
nav .start-personnages, a:nth-child(2):hover~.animation {
    width: 140px;
    left: 100px;
    background-color: #ffbddf;
}
nav .start-routes, a:nth-child(3):hover~.animation {
    width: 80px;
    left: 240px;
    background-color: #ffbddf;
}
nav .start-mods, a:nth-child(4):hover~.animation {
    width: 80px;
    left: 320px;
    background-color: #ffbddf;
}
nav .start-liens, a:nth-child(5):hover~.animation {
    width: 60px;
    left: 400px;
    background-color: #ffbddf;
}
nav .start-formulaire, a:nth-child(6):hover~.animation {
    width: 130px;
    left: 460px;
    background-color: #ffbddf;
}

/* police de caractère personnalisé */
@font-face {
    font-family: aller;
    src: url('../fonts/aller_rg.ttf');
}
@font-face {
    font-family: rifficfree;
    src: url('../fonts/rifficfree-bold.ttf');
    font-weight: bold;
}
.fontfix{
    font-family: rifficfree;
}

/* Corps de texte */
body {
    font-size: 18px;
    font-family: aller;
    background-image: url("../images/tilebg.png");
    background-repeat: repeat;
    padding: 0;
    margin: 0;
}
.wrapper {
    max-width: 920px;
    height: 100%;
    background: white;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer {
    background: #222;
    height: 44px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    vertical-align:middle;
    color: #81c846;
    font-size: 36px;
}

/* sticker */
.sticker-container {
    position: absolute;
    bottom: 0px;
    margin: 0px 60px;
}
.sticker-container.left {
    left: 0px;
    bottom: 50px;
}
.sticker-container.right {
    right: 0px;
    bottom: 50px;
}
.sticker {
    display: inline-block;
    position: relative;
}
.sticker img {
    position: relative;
    margin: 0px 20px;
    z-index: -1;
}

/* formatage */
h1{
    text-align: center;
    text-shadow: -2px -2px 0 #ffbddf, 2px -2px 0 #ffbddf, -2px 2px 0 #ffbddf, 2px 2px 0 #ffbddf;
    color: white;
    font-family:rifficfree;
}
h2{
    text-align: center;
}
p{
    margin: 20px;
}
.raccourciperso{
    text-align: center;
    font-size: 25px;
}

/* images/vidéo */
.imgfit{
    width: 920px;
}
.imgcharacters{
    height:600px;
}
.imgleft{
    float: left;
}
.imgright{
    float: right;
}
footer img{
    height: 44px;
    margin-left: 20px;
    float: left;
}
iframe{
    display: block;
    margin: auto;
    width: 640px;
    height: 360px;
}
.cg{
    width: 450px;
    margin: 22px;
    float: left;
    clear: left;
    z-index: -1;
    display:inline-block;
}

/* couleur */
.sayori{
    color: #78ccfa;
}
.yuri{
    color: #d58bfc;
}
.monika{
    color: #81c846;
}
.natsuki{
    color: #ffbbc3;
}
.lignesayori{
    border: solid #78ccfa 5px;
}
.ligneyuri{
    border: solid #d58bfc 5px;
}
.lignemonika{
    border: solid #81c846 5px;
}
.lignenatsuki{
    border: solid #ffbbc3 5px;
}
.ligne{
    border: 15px solid #ffbddf;
}

/* tableau */
table td{
    border: 5px solid #ffbddf;
    border-radius: 20px;
}
table{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px;
}
table img{
    display:block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
table iframe{
    display: block;
    margin: auto;
    width: 426px;
    height: 240px;
}
.fandom{
    width: 400px;
}

/* formulaire */
fieldset {
    background-color: #fde6f5;
    width: 70%;
    border: 5px solid #ffbddf;
    border-radius: 20px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}
legend{
    text-align: left;
    background-color: #fde6f5;
    border: 5px solid #ffbddf;
    border-radius: 20px;
    padding: 5px;

}
label {
    float: left;
    width: 50%;
    margin-right: 20px;
    text-align: left;
}
textarea {
    width: 100%;
}
.bouton{
    text-align: center;
    margin: 15px;
}
input[type="submit"]{
    background-color:#fde6f5;
    cursor:pointer;
    border-color:#ffbddf;
    padding:10px;
}
input[type="reset"]{
    background-color:#fde6f5;
    border-color:#ffbddf;
    cursor:pointer;
    padding:10px;
}

/* javascript */
#acte2, #acte3, #acte4 {
    display: none;
}
.liensdiv{
    color:white;
}
.contenu {
    width: 100%;
    margin: auto;
}
.image-wrapper {
    overflow: hidden;
}
#imagederoul {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0;
    left: 0;
}
#imagederoul li {
    position: relative;
    max-width: 100%;
    float: left;
    list-style: none;
    left: 0;
}
li img{
    width: 600px;
}