html, body{
	height: 100%;
	background: #f0f0f0;
}

body {
    font-size: 18px;
	margin: 0;
    padding: 0;
}
.wrapper {
    max-width: 920px;
    height: 100%;
	min-height: 100vh;
    background: white;
    margin: 0 auto;
	padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
	border-radius: 10px;
}
